[submodule "CVPR2018/3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks/workspace/SparseConvNet"]
	path = CVPR2018/3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks/workspace/SparseConvNet
	url = https://github.com/facebookresearch/SparseConvNet
[submodule "CVPR2018/PU-Net_Point_Cloud_Upsampling_Network/workspace/PU-Net"]
	path = CVPR2018/PU-Net_Point_Cloud_Upsampling_Network/workspace/PU-Net
	url = https://github.com/yulequan/PU-Net
