[submodule "CVPR2018/3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks/workspace/SparseConvNet"]
	path = CVPR2018/3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks/workspace/SparseConvNet
	url = https://github.com/facebookresearch/SparseConvNet
[submodule "CVPR2018/PU-Net_Point_Cloud_Upsampling_Network/workspace/PU-Net"]
	path = CVPR2018/PU-Net_Point_Cloud_Upsampling_Network/workspace/PU-Net
	url = https://github.com/yulequan/PU-Net
[submodule "CVPR2018/Neural_3D_Mesh_Renderer/workspace/deep_dream_3d"]
	path = CVPR2018/Neural_3D_Mesh_Renderer/workspace/deep_dream_3d
	url = https://github.com/hiroharu-kato/deep_dream_3d
[submodule "CVPR2018/Neural_3D_Mesh_Renderer/workspace/mesh_reconstruction"]
	path = CVPR2018/Neural_3D_Mesh_Renderer/workspace/mesh_reconstruction
	url = https://github.com/hiroharu-kato/mesh_reconstruction
[submodule "CVPR2018/Neural_3D_Mesh_Renderer/workspace/neural_renderer"]
	path = CVPR2018/Neural_3D_Mesh_Renderer/workspace/neural_renderer
	url = https://github.com/hiroharu-kato/neural_renderer
[submodule "CVPR2018/Neural_3D_Mesh_Renderer/workspace/style_transfer_3d"]
	path = CVPR2018/Neural_3D_Mesh_Renderer/workspace/style_transfer_3d
	url = https://github.com/hiroharu-kato/style_transfer_3d
[submodule "CVPR2018/When_will_you_do_what-Anticipating_Temporal_Occurrences_of_Activities/workspace/anticipating-activities"]
	path = CVPR2018/When_will_you_do_what-Anticipating_Temporal_Occurrences_of_Activities/workspace/anticipating-activities
	url = https://github.com/yabufarha/anticipating-activities
[submodule "CVPR2018/Attention_Clusters_Purely_Attention_Based_Local_Feature_Integration_for_Video_Classification/workspace/Flash-MNIST"]
	path = CVPR2018/Attention_Clusters_Purely_Attention_Based_Local_Feature_Integration_for_Video_Classification/workspace/Flash-MNIST
	url = https://github.com/longxiang92/Flash-MNIST
[submodule "CVPR2018/StarGAN_Unified_Generative_Adversarial_Networks_for_Multi_Domain_Image_to_Image_Translation/workspace/StarGAN"]
	path = CVPR2018/StarGAN_Unified_Generative_Adversarial_Networks_for_Multi_Domain_Image_to_Image_Translation/workspace/StarGAN
	url = https://github.com/yunjey/StarGAN
[submodule "CVPR2018/Adversarial_Feature_Augmentation_for_Unsupervised_Domain_Adaptation/workspace/adversarial-feature-augmentation"]
	path = CVPR2018/Adversarial_Feature_Augmentation_for_Unsupervised_Domain_Adaptation/workspace/adversarial-feature-augmentation
	url = https://github.com/ricvolpi/adversarial-feature-augmentation
[submodule "CVPR2018/OLE_Orthogonal_Low-Rank_Embedding_A_Plug_and_Play_Geometric_Loss_for_Deep_Learning/workspace/OrthogonalLowrankEmbedding"]
	path = CVPR2018/OLE_Orthogonal_Low-Rank_Embedding_A_Plug_and_Play_Geometric_Loss_for_Deep_Learning/workspace/OrthogonalLowrankEmbedding
	url = https://github.com/jlezama/OrthogonalLowrankEmbedding
